* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}

body {
    color: white; 
    font-family: "Poopins", san-serif;
    height: 100vh;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.card {
    text-align: center;
    background: rgba(0, 0, 0, 0.671);
    color: white;
    padding: 32px;
    border-radius: 36px;
    width: 90%;
    margin-top: 10%;
}

header {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.input-width {
    width: 97%;
}

form input,
input:focus {
    padding: 3px;
    font-size: 24px;
    border: none;
    outline: none;
    background: white;
    color: rgb(7, 7, 7);
    width: 88%;
}

form button {
    float: right;
    margin-right: 0px;
    padding: 3px 0px;
    font-size: 24px;
    border: none;
    background: white;
    width: 12%;
    color: rgb(8, 8, 8);
    background: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


form button:hover {
    background: rgb(252, 252, 252);
    color: rgb(8, 8, 8);
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 100%;
    list-style-type: none;
}

.todo:first-child {
    margin-top: 30px;
}

.todo {
    margin: 7px;
    margin-left: 0;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: all 0.4s ease;

}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: rgb(8, 8, 8);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.trash-btn:hover{
    background: rgb(34, 34, 34);
}

.complete-btn {
    background: rgb(94, 6, 6);
}

.complete-btn:hover{
    background-color: rgb(126, 24, 24);
}
.todo-item {
    padding-left: 6px;
    text-align: left;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translate(8rem) rotateZ(20deg);
    opacity: 0;
}

.full {
    margin-right: 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 0;
    box-shadow: none;
}

.select {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    padding-left: 45%;

}

select {
    color: rgb(0, 0, 0);
    font-weight: 600;
    width: 190px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    padding: 7px;
    margin-right: 0;
}




.select::after {
    content: "\25BC";
    position: absolute;
    background-color: rgb(250, 248, 248);
    color: rgb(12, 12, 12);
    top: 0;
    right: 0;
    padding: 8px;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.2s ease-in-out;

}

.select:hover::after {
    background: rgb(231, 226, 226);
    color: rgb(15, 15, 15);
}


@media (min-width:480px) {
    .card{
        width: 70%;
    }
}

@media (min-width:748px) {
    .card{
        width: 50%;
    }
}

@media (min-width:920px) {
    .card{
        width: 40%;
        margin-top: 5%;
    }
    .select{
        padding-left: 50%;
    }
    .input-width {
        width: 98%;
    }
    
}

@media (min-width:1080px) {
    .card{
        width: 30%;
    }
}
